.App {
  text-align: center;
  background-color: blue; 
  color: white; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

form, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* 为上传按钮和下拉菜单添加样式 */
input[type="file"], select {
  padding: 5px;
  margin: 5px;
}

/* 调整推荐列表的样式 */
ol {
  text-align: left; /* 如果希望列表项左对齐 */
  display: inline-block; /* 使列表居中显示 */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-item {
  width: fit-content; /* 子元素宽度根据内容自适应 */
  text-align: left; /* 确保文本是左对齐的 */
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 子元素的左端对齐 */
}

/* 如果你希望有一个最大宽度，可以设置一个具体的值 */
.form-content {
  max-width: 500px; /* 或者你想要的任何最大宽度 */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
